# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\amira\OneDrive - Bar-Ilan University\לימודים\תשפא\ב\מונחה עצמות\ass6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
